<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sxt.application.mapper.UsersMapper">
	<!-- 查询用户列表 -->
	<select id="loadUsersList" resultType="cn.sxt.application.pojo.Users">
		select * from sys_users
	</select>
	
	<!-- 删除用户信息 -->
	<delete id="deletUsers" parameterType="java.lang.Integer">
		delete from sys_users where userid=#{uid}
	</delete>
</mapper>